{% extends "layout.html" %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" id="main">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Indexes</a></li>
              <li class="breadcrumb-item active" aria-current="page">consommations</li>
            </ol>
        </nav>
          
    </div>

    <div class="col-md-12" style="margin-top: 10px;" id='sectionAimprimer'>
        <center><h3>Facture d'éléctricité Dankaly cite {{ periode }}</h3></center>
        
    <table class="table table-striped table-hover">

        <thead class="thead-dark">
            <tr>
                <th>Consommateur</th>
                <th>Nombre</th>
                <th>Ancien Indexe</th>
                <th>Nouveau Indexe</th>
                <th>Difference</th>
                <th>Prix KWH</th>
                <th>Montant</th>
                <th>Taxes(TVA)</th>
                <th>Déplacement</th>
                <th>Net à payer</th>
            </tr>
        </thead>
        <tbody>
            {% for data in datas %}
            <tr>
                <td >{{data.name}}</td>
                <td >{{data.nbre}}</td>
                <td >{{data.ancien_index}}</td>
                <td >{{data.nouvelle_index}}</td> 
                <td>{{ data.diff_index }}</td>
                <td>{{ prix_kwh }}</td>
                <td>{{ data.montant }}</td>
                <td>{{ data.tva }}</td>
                <td>50</td>
                <td>{{ data.net }}</td>    
            </tr>
            {% endfor %}
            <tr>
                <td>Total</td>
                <td>{{ nbres }}</td>
                <td>|||||||||||</td>
                <td>|||||||||||</td>
                <td>|||||||||||</td>
                <td>|||||||||||</td>
                <td>{{total_montant}}</td>
                <td>{{ total_tva }}</td>
                <td>{{ nbres*50 }}</td>
                <td>{{ total_net }}</td>
            </tr>
            <tr>
                <td colspan="10"><center><h5>Montant sur la facture: {{ montant_facture }}</h5></center></td>
            </tr>
            <tr>
                <td colspan="10"></td>
            </tr>
        </tbody>
    </table>
    <p><h6>Date limite {{ date_limite }}</h6><h5 style="margin-left: 85%">Le Responsable</h5></p>
    </div>
    <center><a href="#" onClick="imprimer('sectionAimprimer')"><img src="/style/img/imprimer-en-png-7.png" alt="" height="20%" width="20%" ></a></center>
</main>    
<script>
    function imprimer(divName) {
        var printContents = document.getElementById(divName).innerHTML;    
       var originalContents = document.body.innerHTML;      
       document.body.innerHTML = printContents;     
       window.print();     
       document.body.innerHTML = originalContents;
    }
    </script>
{% endblock %}