<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/style/css/login.css">
<script src="//code.jquery.com/jquery.js"></script>
<script src="/style/js/app.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/style/js/feather.js"></script>
<script src="/style/js/feather.min.js"></script>
<script src="/style/js/popper.js"></script>
<script>
  feather.replace()
</script>  
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="">
        <img src="/style/img/elec0.jpg" class="rounded-circle img-thumbnail" height="30%" width="30%" alt="User Icon" />
        <h4 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ">DANKAFAC</h4>
      </div>
  
      <!-- Login Form -->
      <form action="/login" method="POST">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" required>
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="password" required>
        <input type="submit" class="fadeIn fourth" value="Connexion">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Mot de passe oublié?</a>
      </div>
  
    </div>
  </div>